@font-face {
    font-family: 'Barcelona';
    src: url('../resources/Barcelona/Barcelona-Regular.eot');
    src: url('../resources/Barcelona/Barcelona-Regular.eot?#iefix') format('embedded-opentype'),
        url('../resources/Barcelona/Barcelona-Regular.woff2') format('woff2'),
        url('../resources/Barcelona/Barcelona-Regular.woff') format('woff'),
        url('../resources/Barcelona/Barcelona-Regular.ttf') format('truetype'),
        url('../resources/Barcelona/Barcelona-Regular.svg#Barcelona-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

.WallText{
font-family: 'Barcelona';
font-size: 40px;  
}




.uno{
    transform: rotate(1deg);
}
.nuno{
    transform: rotate(-1deg);
}
.dos{
    transform: rotate(2deg);
}
.ndos{
    transform: rotate(-2deg);
}
.cuatro{
    transform: rotate(4deg);
}
.ncuatro{
    transform: rotate(-4deg);
}
.cinco{
    transform: rotate(5deg);
}
.ncinco{
    transform: rotate(-5deg);
}