@font-face {
    font-family: 'Barcelona';
    src: url('Barcelona-Regular.eot');
    src: url('Barcelona-Regular.eot?#iefix') format('embedded-opentype'),
        url('Barcelona-Regular.woff2') format('woff2'),
        url('Barcelona-Regular.woff') format('woff'),
        url('Barcelona-Regular.ttf') format('truetype'),
        url('Barcelona-Regular.svg#Barcelona-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

